<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.abood.crowdfunding">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/white_bg_logo"
        android:label="@string/app_name"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:supportsRtl="false"
        tools:replace="android:supportsRtl"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".EditingActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".CampaignDetailsActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".FinalAddCampaign"
                  android:screenOrientation="portrait"/>
        <activity android:name=".DonationDetailsActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".CampaignsListActivity"
                  android:screenOrientation="portrait">

        </activity>
        <activity android:name=".RegisterActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".UserProfileActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".AdminDashboardActivity"
                  android:screenOrientation="portrait">

        </activity>
        <activity android:name=".ClosedCampaignsActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".PausedCampaignsActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".LoginActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".SplashScreenActivity"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat"
            android:screenOrientation="portrait"/>
        <activity android:name=".NoItemInternetImage"
            android:screenOrientation="portrait"/>

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />

                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notifications_black_24dp" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />


    </application>

</manifest>